<div class="grid-container">
	<div class="img-wrapper"><img src="dictionary/B.webp"></div>
	<div class="img-wrapper"><img src="dictionary/C.webp"></div>
	<div class="img-wrapper"><img src="dictionary/D.webp"></div>
	<div class="img-wrapper"><img src="dictionary/E.webp"></div>
	<div class="img-wrapper"><img src="dictionary/F.webp"></div>
	<div class="img-wrapper"><img src="dictionary/G.webp"></div>
	<div class="img-wrapper"><img src="dictionary/A.webp"></div>
	<div class="img-wrapper"><img src="dictionary/H.webp"></div>
	<div class="img-wrapper"><img src="dictionary/I.webp"></div>
	<div class="img-wrapper"><img src="dictionary/J.webp"></div>
	<div class="img-wrapper"><img src="dictionary/K.webp"></div>
	<div class="img-wrapper"><img src="dictionary/L.webp"></div>
	<div class="img-wrapper"><img src="dictionary/M.webp"></div>
	<div class="img-wrapper"><img src="dictionary/N.webp"></div>
	<div class="img-wrapper"><img src="dictionary/O.webp"></div>
	<div class="img-wrapper"><img src="dictionary/P.webp"></div>
	<div class="img-wrapper"><img src="dictionary/Q.webp"></div>
	<div class="img-wrapper"><img src="dictionary/R.webp"></div>
	<div class="img-wrapper"><img src="dictionary/S.webp"></div>
	<div class="img-wrapper"><img src="dictionary/T.webp"></div>
	<div class="img-wrapper"><img src="dictionary/U.webp"></div>
	<div class="img-wrapper"><img src="dictionary/V.webp"></div>
	<div class="img-wrapper"><img src="dictionary/W.webp"></div>
	<div class="img-wrapper"><img src="dictionary/X.webp"></div>
	<div class="img-wrapper"><img src="dictionary/Y.webp"></div>
	<div class="img-wrapper"><img src="dictionary/Z.webp"></div>
</div>